<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker - Game begins!</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-md-7">
        <h1>Hello, <%= user %>!</h1>
        <% if user? %>
          <% if score.any? %>
          <h3>Score</h3>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Number of attempts</th>
              <th>Secret code</th>
              <th>Result of the game</th>
            </tr>
            <%= load_score %>
          </table>
          <% end %>
          <p>Secret code consists of four numbers between 1 and 6.</p>
          <p>You have <span id="attempts"><%= game.attempts %></span> attempts and one <b>hint</b>
          <% if game.hint %>
            <a href="/use_hint" id="hint" class="btn btn-primary">Use a hint</a>
          <% end %>
          </p>
          <br/>
          <form class="form-inline" method="post" action="/guess_code" id="guess_code">
            <div class="form-group">
              <input type="text" class="form-control" name="guess_code" placeholder="code">
            </div>
            <button type="submit" class="btn btn-primary">Guess code</button>
          </form>
          <br/>
          <b>Result:</b><br/>
          <table id="result" class="table">
          </table>
        <% end %>
      </div>
    </div>
  </body>
</html>
